OPENROUTER_API_KEY=''''''
OPENROUTER_BASE_URL=""
OPENROUTER_MODEL=""
# OPENROUTER_MODEL="openai/gpt-4.1"

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

LANGGRAPH_STRICT_MSGPACK=true

NEON_DATABASE_URL=              